<h1>Question <%= @n %></h1>

<% if @textbox %>
<%= render partial: 'textbox', locals: {survey: @survey,  answer: @answer_textbox} %>
<% end %>
<% if @textarea %>
<%= render partial: 'textarea', locals: {survey: @survey,  answer: @answer_textarea} %>
<% end %>
<% if @checkbox %>
<%= render partial: 'checkbox', locals: {survey: @survey, option: @checkbox_options, answer: @answer_checkbox_option} %>
<% end %>
<% if @radiobutton %>
<%= render partial: 'radiobutton', locals: {survey: @survey, option: @radiobutton_options, answer: @answer_radiobutton_option} %>
<% end %>

<%= link_to 'Quit answering', surveys_path(@survey) %>
