<h1><%= @survey.title %></h1>
<br>
<table>
  <thead>
    <tr>
      <th>Questions</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |q| %>
    <div><tr>
      <% textbox=Textbox.find_by(question_id: q.id) %>
      <% textarea=Textarea.find_by(question_id: q.id) %>
      <% checkbox=Checkbox.find_by(question_id: q.id) %>
      <% radiobutton=Radiobutton.find_by(question_id: q.id) %>

      <% if textbox %>
      <th><%= @n %></th>
      <th><%= textbox.subject %></th>

      <% elsif textarea %>
      <th><%= @n %></th>
      <th><%= textarea.subject %></th>

      <% elsif checkbox %>
      <thead>
        <th><%= @n %></th>
        <th><%= checkbox.subject %></th>
      </thead>
      <% options=CheckboxOption.where(checkbox_id: checkbox.id) %>
      <tbody>
        <% options.each do |op| %>
        <th><%= op.optionname %></th>
        <% end %>
      </tbody>

      <% elsif radiobutton %>
      <thead>
        <th><%= @n %></th>
        <th><%= radiobutton.subject %></th>
      </thead>
      <% options=RadiobuttonOption.where(radiobutton_id: radiobutton.id) %>
      <tbody>
        <% options.each do |op| %>
        <th><%= op.optionname %></th>
        <% end %>
      </tbody>

      <% end %>
    </tr>
  </div>
  <% @n+=1 %>
  <% end %>
</tbody>
</table>

<br>

<%= link_to 'Back', surveys_path(:company_id => @company.id) %>
