<p><%= link_to 'Textbox形式で作成', new_survey_textbox_path(@survey) %></p>
<br>
<p><%= link_to 'Textarea形式で作成', new_survey_textarea_path(@survey) %></p>
<br>
<p><%= link_to 'Checkbox形式で作成', new_survey_checkbox_path(@survey) %></p>
<br>
<p><%= link_to 'Radiobutton形式で作成', new_survey_radiobutton_path(@survey) %></p>
<br>
<%= link_to 'Back', survey_path(@survey) %>

