<h1>Survey</h1>

<% if current_admin %>
          <p><%= link_to 'Create Survey', new_survey_path %></p>
        <% end %>
        <br>

<table>
  <thead>
    <tr>
      <th>Index</th>
    </tr>
  </thead>

  <tbody>
  <% if current_user.president %>
    <%= link_to "Members", company_users_path(@company) %><br />
  <% end %>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.title %></td>
        <% done_flag=UserSurvey.find_by(user_id: current_user.id, survey_id: survey.id) %>
        <% if done_flag %>
          <td><%= link_to 'Show Result', result_path(:id => survey.id) %></td>
        <% else %>
          <td><%= link_to 'Answer to Survey', new_survey_answer_path(survey) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

